<form [formGroup]="form" (ngSubmit)="createElement()" class="row g-3">
    <div class="col-auto d-flex">
      <input type="text" formControlName="name" class="form-control" placeholder="Nombre">
      
      <input type="text" formControlName="description" class="form-control" placeholder="Descripción">

      <input type="text" formControlName="image" class="form-control" placeholder="URL Imagen">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Guardar cambios</button>
    </div>

    <div *ngIf="!form.valid && isFormSubmitted" class="alert alert-danger" role="alert">
      Datos incompletos
    </div>
</form>